@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mall</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/head.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/footer.css" />
    <script src="/Content/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            // Carousel effect
            var c = 0;
            // Add a timer event
            function timer() {
                // Get the index
                c++;
                if (c == 6) {
                    c = 0;
                }
                // Show the current image and hide siblings
                $("#inBaner .big_eye_pic li").eq(c).stop().fadeIn(1800).siblings().fadeOut(800);
                // Change the color
                $("#inBaner .btn ul li").eq(c).stop().addClass("cur").siblings().removeClass("cur");
            }
            time = setInterval(timer, 2000);
            // Add hover effect to the images
            $("#inBaner").hover(function () {
                // Stop the timer
                clearInterval(time);
            }, function () {
                // Continue the timer
                time = setInterval(timer, 2000);
            });
            // Add hover effect to the color blocks
            $("#inBaner .btn ul li").mouseenter(function () {
                var n = $(this).index();
                // Show the first image and hide the rest
                $("#inBaner .big_eye_pic li").eq(n).stop().show().siblings().hide();
                // Change the color
                $("#inBaner .btn ul li").eq(n).stop().addClass("cur").siblings().removeClass("cur");
            });
            // Add click event
            $(".her_top .her_title .her_menu li").click(function () {
                var n = $(this).index();
                // Switch the color
                $(".her_menu li").eq(n).addClass("current").siblings().removeClass("current");
                // Switch the products
                $(".her_top .pro_con").eq(n).show().siblings(".pro_con").hide();
            })
            // Slide down the search box
            $(window).scroll(function () {
                // Get the distance from the top
                var t = $(document).scrollTop();
                if (t > 530) {
                    $("#nav").show();
                } else {
                    $("#nav").hide();
                }
            });
        });
    </script>
</head>
<body>
    <!-- Header common part -->
    <div class="header">
        <!-- Top navigation -->
        <div class="header_top">
            <div class="w1200">
                <div class="h_t_l">
                    <div class="login_l">
                        <span>Welcome to  Furnituire Mall!</span>
                        @if (Session["nick"] != null)
                        {
                            <span>
                                User:
                                <img src="@Session["img"]" width="35" height="35" style="vertical-align:middle;border-radius:50%;" alt="Alternate Text" />
                                @Session["nick"]
                            </span>
                            <a class="a_login" href="/Home/Logout">Logout</a>
                            <a class="a_login" href="/Home/BackIndex">Personal Center</a>
                        }
                        else
                        {
                            <a class="a_login" href="/Home/Login">[Login]</a>
                            <span class="line"></span>
                            <a class="" href="/Home/Register">[Register]</a>
                        }

                    </div>
                </div>
                <div class="h_t_r">
                    <ul>
                        <li>
                            <i class="tel_icon"></i>
                            <a href="">114-514-1919</a>
                            <span class="line"></span>
                        </li>
                        <li>
                            <a href="">Under Construction</a>
                            <span class="line"></span>
                        </li>
                        <li>
                            <a href="">Under Construction</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Search -->
        <div class="full_sc">
            <div class="w1200 header_conter">
                <div class="h_c_logo">
                    <a href="A-index.html">
                        <img src="/Content/image/logo.png" style="width: 103px;height: 103px" />
                    </a>
                </div>
                <div class="h_c_bz">
                    <img src="/Content/image/top_center.png" style="width: 311px;height: 103px" />
                </div>
                <div class="h_c_search">
                    <div class="search_input">
                        <form action="/Home/List" method="get">
                            <input type="text" style="color: rgb(102, 102, 102);" name="keyword" class="text_search" placeholder="Enter product keyword" value="@(Request.QueryString["keyword"] != null ? Request.QueryString["keyword"] :"")" />
                            <input type="submit" class="btn_search" value="Search" />
                        </form>
                    </div>
                    <div class="search_key">
                        <ul>
                            <li>
                                <a href="/Home/List?keyword=table">Table</a>
                            </li>
                            <li>
                                <a href="/Home/List?keyword=chair">chair</a>
                            </li>
                            <li>
                                <a href="/Home/List?keyword=combo">Combo Set</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="h_c_right">
                    <a href="/Home/Car" class="h_c_r_car">
                        <b class="b_car1"></b>
                        <span>My Cart</span>
                        <b class="b_car2"></b>
                    </a>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div class="full_nav">
            <div class="w1200">
                <ul class="nav">
                    <li class="home">
                        <a href="/Home/Index" style="color: #000;">Home</a>
                    </li>
                    <li>
                        <a href="/Home/List?keyword=table">Table</a>
                    </li>
                    <li>
                        <a href="/Home/List?keyword=chair">Chair</a>
                    </li>
                    <li>
                        <a href="/Home/List?keyword=combo">Combo Set</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header end -->
    @* Dynamically replace layout content *@
    @RenderBody()

    <!-- Footer common part -->
    <div class="footer">
        <div class="footer_links">
            <ul>
                <li>
                    <a href="/Login/Index">Login to Mall Backend</a>
                    <span class="line"></span>
                </li>
            </ul>
        </div>
        <div class="footer_bottom">
            <div class="w1200">
                <p>
                    <span class="font_arial">Copyright© 2024 All Rights Reserved</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Footer end -->
</body>
</html>

